{% extends "UAMBootstrapBundle::stickyfooter.html.twig" %}

	{% block head_style %}
		{{ parent() }}
		{% stylesheets filter="cssrewrite"
			'bundles/uamdatatables/vendor/datatables/media/css/jquery.dataTables.min.css'
			'bundles/uamdatatables/vendor/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css'
			'bundles/uamdatatables/vendor/datatables-plugins/integration/font-awesome/dataTables.fontAwesome.css'
			'bundles/uamdatatables/css/table.css'
		%}
			<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
		{% endstylesheets %}
	{% endblock %}
		{% block head_script %}
			{{ parent() }}
			<script>
				var maintenance = {
					locale: "{{ app.request.locale }}"
				};
			</script>
		{% endblock head_script %}
	{% block main %}
		<div class="content {% block body_class %}{% endblock %}">
			{% block maintenance_content %}{% endblock %}
		</div>
	{% endblock %}

		{% block foot_script %}
			{{ parent() }}
			{% javascripts
				'bundles/uamdatatables/vendor/datatables/media/js/jquery.js'
				'bundles/uamdatatables/vendor/datatables/media/js/jquery.dataTables.min.js'
				'bundles/uamdatatables/vendor/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js'
				'bundles/uammaintenance/js/maintenance.js'
			%}
		<script src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock foot_script %}
