{% extends "UAMMaintenanceBundle::admin.html.twig" %}

{% trans_default_domain "maintenance" %}

{% block uam_maintenance_page_class %}maintenance{% endblock %}

{% block uam_maintenance_page_nav %}
<div class="top-nav">
	<a href="{{ path('uam_maintenance_admin_index') }}" class="back">
		<i class="fa fa-long-arrow-left"></i>
		{% trans %}create.back{% endtrans %}
	</a>
</div>
{% endblock %}

{% block uam_maintenance_page_title %}{% trans %}create.page_title{% endtrans %}{% endblock %}

{% block uam_maintenance_head_style %}
	{{ parent() }}
	{% stylesheets filter="cssrewrite" output="css/*.css"
		'bundles/uammaintenance/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'
		'bundles/uammaintenance/css/admin/maintenances.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock %}

{% block uam_maintenance_content %}
	{% include 'UAMMaintenanceBundle:Admin:form.html.twig' %}
{% endblock %}

{% block uam_maintenance_foot_script %}
	{{ parent() }}
	{% javascripts
		'bundles/uammaintenance/vendor/moment/min/moment-with-locales.min.js'
		'bundles/uammaintenance/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'
		'bundles/uammaintenance/js/maintenance.js'
	%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
